header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{ 
    /* display se usa para que el texto no invada toda la pagina
    manteniendo sus atributos solo dentro del espacio de su texto*/
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    /* se usa para pasar el contenido a mayusculas*/
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/* hover representa el movimiento del mouse y 'nav a' los elementos que cambiaran de
color con el paso del mouse*/
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    /* padding se usa para aumentar el tamaño de un elemento*/
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; 
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

/* active funciona para mostrar un efecto al realizar un click*/
.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px;
}

.copyright{
    color: #BBBBBB;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 40px 0px;
}
/* se puede aplicar el mismo estilo a diferentes elementos solo separando con una coma ","*/
form label, form p, legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    /*padding se utiliza para cambiar el espacio interno entre el borde y el contenido */
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
   
}
/* se cambió la anchura del boton enviar*/
.enviar{
    width: 40%;
    /*se cambio el espaciamiento interno con el padding para que el botón tenga un formato mas grande
    los 15px son hacia arriba y abajo, y el 0 es para los laterales*/
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    /* border-radius se utiliza para dar efecto redondeado a un borde o esquina*/
    border-radius: 5px;
    transition: 1s all;
    /*al pasar por un elemento cambia el cursor a una manita apuntando*/
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    /*redimensiona el objeto cuando el mouse se posiciona sobre el mismo*/
    transform: scale(1.2);

}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}




